    @import url('https://fonts.googleapis.com/css?family=Lato');
@font-face {
    font-family: 'Gotham';
    src: url('../webfont/Gotham-Black.eot');
    src: url('../webfont/Gotham-Black.eot?#iefix') format('embedded-opentype'), url('../webfont/Gotham-Black.woff2') format('woff2'), url('../webfont/Gotham-Black.woff') format('woff'), url('../webfont/Gotham-Black.ttf') format('truetype'), url('../webfont/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1.titleFeatured {
    font-family: Gotham, Lato, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    line-height: 50px;
}

h1.titleAbanderados {
    font-family: Gotham, Lato, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    line-height: 50px;
}

.maxWidthAvailable {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#headerAbanderados {
    background: #242021;
    width: 100%;
    height: 90px;
    position: relative;
}

#headerAbanderados .spaceRed {
    width: 100%;
    height: 20px;
    background: #E30B17;
    position: absolute;
    bottom: 0;
}

#logoAbanderados {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    right: 200px;
}

#logoAbanderados {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    right: 200px;
    z-index: 1;
}

#headerAbanderados #navMainAbanderados {
    padding: 15px 0;
}

#headerAbanderados #navMainAbanderados li {
    display: block;
    float: left;
    padding: 0 15px;
    position: relative;
}

#headerAbanderados #navMainAbanderados li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: Lato, Arial, Helvetica, sans-serif;
    position: relative;
}

#headerAbanderados #navMainAbanderados li span {
    display: block;
    width: calc(100% - 23px);
    height: 4px;
    position: absolute;
    left: 10px;
}

#headerAbanderados #navMainAbanderados li a:hover~span {
    animation: ul 0.2s ease-out;
    background: red;
}

@keyframes ul {
    0% {
        width: 0px;
    }
    100% {
        width: 90%;
    }
}

#bodyAbanderados .col50 {
    width: 50%;
    position: relative;
    float: left;
}

#bodyAbanderados .colFull {
    width: 100%;
}

.btnCoca {
    background: #E30B17;
    width: 210px;
    height: 25px;
    position: relative;
    padding: 10px;
    border-radius: 43px 43px 43px 43px;
    -moz-border-radius: 43px 43px 43px 43px;
    -webkit-border-radius: 43px 43px 43px 43px;
    cursor: pointer;
}

.btnCoca.default {
    left: 0;
    position: relative;
}

.btnCoca p {
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 40px !important;
    color: white !important;
}

#bodyAbanderados>*,
.container {
    box-sizing: border-box;
}

.clearBoth::after {
    content: '';
    clear: both;
    width: 100%;
    display: block;
}

#bodyAbanderados {
    font-family: Lato, Arial, Helvetica, sans-serif;
}


/*HOME*/

#bodyAbanderados.home {
    background: #130D0D;
}

#bodyAbanderados.home .featured {
    padding: 50px 0 20px 100px;
    min-height: 600px;
    background: url(../img/home-img01.jpg) no-repeat;
}

#featuredContent {
    padding-bottom: 50px;
}

.content {
    padding: 50px 0 20px 0;
}

#bodyAbanderados.home .featured p {
    line-height: 26px;
    color: white;
    padding-bottom: 30px;
}


/*REGISTRO*/
#bodyAbanderados.registro {
    background: #f2f2f2;
    min-height: 400px;
    padding: 25px 0;
}
/*LEGALES*/

#bodyAbanderados.legales {
    background: #f2f2f2;
    min-height: 400px;
    padding: 25px 0;
}
.legalesAbanderados {
    line-height: 26px;
}
.legalesAbanderados strong {
    font-family: Lato-Bold, Arial, Helvetica, sans-serif;
}

/*MECANICA*/

#bodyAbanderados.mecanica {
    background: #f2f2f2;
    min-height: 400px;
    padding: 25px 0;
}

#bodyAbanderados.registro .content {
    height: auto;
    padding: 50px;
}

#bodyAbanderados.comenzar .content {
    width: 50%;
    height: auto;
    padding: 50px 0;
}

.content::after {
    content: '';
    clear: both;
    width: 100%;
    display: block;
}

#bodyAbanderados.registro .content .col50 {
    width: 50%;
    height: auto;
    position: relative;
    float: left;
}

#bodyAbanderados.registro .content h1,
#bodyAbanderados.comenzar .content h1 {
    font-family: Gotham, Lato, Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 0;
    text-transform: uppercase;
    line-height: 50px;
}

#bodyAbanderados.registro .content .col50 h4,
#bodyAbanderados.mecanica .content .col50 h4,
#bodyAbanderados.comenzar .content .col50 h4 {
    color: #E30B17;
    font-size: 36px;
    padding: 20px 0 0px;
    font-family: Gotham, Lato, Arial, Helvetica, sans-serif;
}

#bodyAbanderados.registro .content .col50 p,
#bodyAbanderados.comenzar .content .col50 p,
#bodyAbanderados.mecanica .content .col50 p {
    color: #242021;
    font-size: 16px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 22px;
}

.containerAir {
    clear: both;
    padding: 30px 50px;
    min-height: 500px;
}
.registroClass {
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
}
div#test.btnCoca.registrobtn {
    position:initial;
    text-align: center;
    margin: 20px auto;
}
.ticketBloque {
    margin-top: 100px;
}

#mecanica {
    clear: both;
    padding: 30px 50px;
}

.featured #mecanica.container .col50 h4 {
    color: #E30B17;
    font-size: 26px;
    padding: 20px 0 0px;
    font-family: Gotham, Lato, Arial, Helvetica, sans-serif;
}

.featured #mecanica.container .col50 p {
    color: #242021;
    font-size: 16px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 24px;
}

.col50 p.legalesAbanderados {
    padding: 20px 40px 20px 0;
}

.col50 .faq {
    color: #E30B17;
    font-family: Gotham, Lato, Arial, Helvetica, sans-serif;
    padding: 20px 0 10px;
    width: 90%;
    border-bottom: 1px solid #ededed;
}

.col50 .faq h2 {
    font-weight: normal;
    font-family: Lato-Bold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
    cursor: pointer;
}

.col50 .faq p {
    font-weight: normal;
    font-family: Lato-Regular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    line-height: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    display: none;
}

.minWidthAvailable {
    width: 90%;
    max-width: 1336px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
}

.boxShadowCoca {
    padding: 40px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}


/*RANKING*/

#ranking table {
    width: 100%;
    border-collapse: collapse;
}

#ranking p {
    padding-bottom: 40px;
}

#ranking table thead {
    color: #E30B17;
    font-family: Lato-Bold, Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

#ranking table td {
    padding: 15px 0;
}

#ranking table tbody tr.bold td {
    font-weight: bold;
    font-family: Lato-Bold;
}

#ranking table tbody tr {
    border-top: 1px solid #D8D8D8;
    text-align: center;
}


/*REGISTRO*/

.registroClass {
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.15);
}

div#test.btnCoca.registrobtn {
    position: initial;
    text-align: center;
    margin: 20px auto;
}

.ticketBloque {
    margin-top: 100px;
}


/*COMENZAR TRIVIA*/

#bodyAbanderados.comenzar {
    min-height: 400px;
}
#bodyAbanderados.comenzar .bodyBackground {
    background: url(../img/Coke_assets_1.jpg) no-repeat;
    padding: 25px 0 0 0;
    max-width: 1366px;
    width: 100%;
}

#bodyAbanderados.comenzar .content {
    width: 100%;
    height: auto;
    float: left;
    padding: 100px 25px;
}

#bodyAbanderados.comenzar .content .col50 {
    width: 50%;
    height: auto;
    float: left;
}
#bodyAbanderados.comenzar .content .col50.box {
    margin-top: 10px;
}
/*QUESTIONS TRIVIA*/

#bodyAbanderados.questionsTrivia {
    background: url(../img/Coke_assets_2.jpg) no-repeat;
    min-height: 400px;
    padding: 25px 0 0 0;
}

#bodyAbanderados.questionsTrivia .content {
    width: 100%;
    height: auto;
    float: left;
    padding: 65px 25px;
}

#bodyAbanderados.questionsTrivia .content .col50 {
    width: 50%;
    height: auto;
    float: left;
}

input#test.questionsT {
    font-family: Lato, Arial, Helvetica, sans-serif;
    background: #E30B17;
    width: 210px;
    padding: 10px;
    left: 50px;
    border: 0px;
    font-size: 15px;
    border-radius: 43px 43px 43px 43px;
    -moz-border-radius: 43px 43px 43px 43px;
    -webkit-border-radius: 43px 43px 43px 43px;
    cursor: pointer;
    color: #f2f2f2;
    margin-top: 40px;
}


/*FOOTER*/

.clearContent {
    width: 100%;
    height: 0;
    clear: both;
    display: block;
    padding: 15px 0;
}

#footerAbanderados {
    background: #2b2929;
    padding: 20px 0 20px;
    text-align: center;
}

#footerAbanderados h2 {
    font-size: 20px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: #adadb2;
    padding: 10px 0 30px;
}

#footerAbanderados h2 strong {
    font-family: Lato-Regular, Arial, Helvetica, sans-serif;
}

#footerAbanderados .contactItem h4 {
    color: #908e8e;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}

#footerAbanderados .contactItem h5 {
    color: white;
    font-family: Lato-Light, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#footerAbanderados .contactItem h5 {
    font-weight: 100;
}

#contactAbanderados .contactItem {
    float: left;
    width: 16.6%;
    display: block;
    padding: 10px;
    min-height: 50px;
}

#form.contenido {
    padding: 30px 0px;
    width: 98%;
    border-right: 1px solid #e6e6e6;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

div.bloqueParticipante {
    width: 100%;
    padding: 30px 0;
    clear: both;
    overflow: auto;
}

#form.contenido.lado {
    padding: 80px 0px;
    border-right: 0px;
    text-align: center;
    margin: 0 auto;
}

#form.contenido .campoCoca {
    padding: 10px 20px;
    float: left;
    max-width: 250px;
    width: 100%;
}

#form.contenido .campoCoca.optionDateC {
    padding: 10px;
    float: left;
    max-width: 500px;
    width: 100%;
}

#form.contenido .campoCoca.ticketForm {
    text-align: center;
    max-width: 500px;
    width: 100%;
}

#form.contenido .campoCoca.ticketForm input.aceptoClass {
    text-align: center;
    width: 0;
}

#form.contenido .campoCoca.ticketForm span {
    color: #5a5a5a;
    padding-left: 10px;
    font-size: 14px;
}

#form.contenido .campoCoca span {
    font-size: 12px;
    color: #989898;
}

#form.contenido .campoCoca span.leyenda {
    color: #bf0808;
    padding: 5px 0;
}

#form.contenido .campoCoca span.titleTickeF {
    text-align: center;
    color: black;
    text-align: center;
}
#form.contenido .campoCoca input, select {
    font-size: 13px;
    padding: 4px;
    margin-top: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 4px;
    border: 1px solid #989890;
    padding: 8px;
    width: 100%;
    text-align: center;
    color:black;
}
#form.contenido .campoCoca select {
    width: 32.888%;
    background: white;
}
#form.contenido .campoCoca select option {
    padding: 4px;
}

.col50.box {
    background: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px;
}

.contentDetails {
    padding: 100px;
}

.contentDetails p {
    padding: 50px 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

span.highlightText {
    font-family: Gotham, Lato, Arial, Helvetica, sans-serif;
}

#logoAbanderados.startTrivia {
    top: -60px;
    left: 80px;
}

div#test.btnCoca {
    position: initial;
    text-align: center;
}

div#test.btnCoca span {
    color: white;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

#countdown {
    float: right;
}

.question p {
    color: #E30B17;
    font-size: 20px;
}

#wcCuestionario1_rblOpciones.promo_respuestas {
    font-size: 20px;
    line-height: 40px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

#form.contenido .campoCoca input, select {
        font-size: 13px;
        padding: 4px;
        margin-top: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 4px;
        border: 1px solid #989890;
        padding: 8px;
        width: 100%;
        text-align: center;
        color: black;
    }
    #form.contenido .campoCoca select {
        width: 32.888%;
        background: white;
    }
    #form.contenido .campoCoca select option {
        padding: 4px;
    }
    .col50.box {
        background: white;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px;
    }
    .contentDetails {
        padding: 100px;
    }
    .contentDetails p {
        padding: 50px 0;
        font-family: Lato, Arial, Helvetica, sans-serif;
    }
    span.highlightText {
        font-family: Gotham, Lato, Arial, Helvetica, sans-serif;
    }
    div#test.btnCoca {
        position: initial;
        text-align: center;
    }
    div#test.btnCoca span {
        color: white;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: center;
    }
    #countdown {
        float: right;
    }
    .question p {
        color: #E30B17;
        font-size: 20px;
    }
    #wcCuestionario1_rblOpciones.promo_respuestas {
        font-size: 20px;
        line-height: 40px;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
    }
    h5 {
        color: black;
    }
    .bloqueParticipante a .btnCoca {
        font-size: 15px;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-weight: normal;
        margin: 40px 0;
    }
    .bloqueParticipante.textRemember {
        text-align: center;
        font-size: 16px;
    }
    .bloqueParticipante.textRemember span {
        font-weight: 900;
    }
/*RESULTADOS*/
#bodyAbanderados.results {
    background: #130D0D;
}
#bodyAbanderados.results .resultsFeature {
    padding: 50px 0 20px 100px;
    min-height: 600px;
    background: url(../img/home-img01.jpg) no-repeat;
}
#bodyAbanderados.results p {
    color:white;
    padding: 40px 0;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}
#bodyAbanderados.results .lineClass {
    text-decoration: underline;
}
#bodyAbanderados.results .bold {
    font-weight: bold;
}
#bodyAbanderados.results .identifyClass {
    color: white;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
}
p.identifyClass.dateHour {
    font-size: 10px;
}
div.containerRanking {
    width: 100%;
    text-align: center;
    overflow: auto;
}
div.rankingP {
    width: 50%;
    float:left;
    text-align: center;
    line-height: 0;
}
div#test.btnCoca.results {
    position: initial;
    text-align: center;
    margin: 20px 0;
}
div#test.btnCoca.results p  {
   padding: 0;
   font-size: 15px;
}
div.rankingP p {
   color:red;
}