@{
ViewBag.Title = "Mundial 2018 - Superama y Coca Cola te llevan al Mundial";
ViewBag.description = "Participa y conviértete en abanderado del Mundial, Superama y Coca Cola te llevan a Rusia. Consulta términos y condiciones. ¡Regístrate ya!";
ViewBag.keywords ="";
ViewBag.index = "index,follow";}
<link href="~/Views/Micrositio/trivia-abanderados/menu-dinamico/css/menu-dinamico.css" rel="stylesheet">
<link href="~/Views/Micrositio/trivia-abanderados/css/style.css" rel="stylesheet"/>
<script src="~/Views/Micrositio/trivia-abanderados/menu-dinamico/js/consMenu.js" charset="utf-8"></script>
<script>
    consMenu("bases-y-legales");
</script>
    <div id="headerAbanderados">
        <div class="spaceRed"></div>
        <div class="maxWidthAvailable">
            <div id="logoAbanderados">
                <img src="~/Views/Micrositio/trivia-abanderados/img/logoCocaBalon.png" alt="Logo Coca Cola" width="150" height="150">
            </div>
        </div>
    </div>
    <div id="bodyAbanderados" class="legales">
        <div class="maxWidthAvailable content clearBoth">
            <div class="containerAir clearBoth container content minWidthAvailable boxShadowCoca">
                <h1 class="titleAbanderados bases">Bases y Legales</h1>
                <div class="colFull">
                    <p class="legalesAbanderados subtitleCoca"><strong>ABANDERADOS COCA COLA FIFA WORLD CUP RUSSIA 2018</strong></p>
                    <p class="legalesAbanderados"><strong>Vigencia:</strong> 15 de marzo al 22 de abril 2018</p>
                    <p class="legalesAbanderados"><strong>Cobertura Geográfica:</strong> República Mexicana</p>

                    <p class="legalesAbanderados">Compra <strong>$100 pesos</strong> en tiendas <strong>Walmart, Bodega Aurrerá, Mi Bodega,  Bodega Aurrerá Express</strong> y/o <strong>Superama</strong> que incluyan productos de las marcas: <strong>Coca-Cola, Coca-Cola Sin Azúcar, Coca-Cola Light, Powerade</strong> y/o <strong>Powerade Zero</strong> en cualquiera de sus presentaciones y participa en la trivia en la promoción. </p>
                    <p class="legalesAbanderados">La promoción comienza el <strong>15 de Marzo de 2018 a las 12:00 a.m.</strong> y termina el <strong>22 de Abril de 2018 a las 11:59 p.m.</strong></p>
                    <p class="legalesAbanderados">La participación en la promoción <strong>ABANDERADOS COCA-COLA FIFA WORLD CUP RUSSIA 2018</strong> será aplicable únicamente para residentes legales de la República Mexicana mayores de edad que se inscriban y participen dentro de la vigencia junto con un menor de edad sobre del cual ejerzan patria potestad o tutela legal, quienes deberán ser hombres o mujeres , mayores de <strong>12 años</strong> y menores de <strong>17 años</strong> cumplidos, con fecha de nacimiento antes del 31 de junio de 2001, con pasaporte vigente. La participación debe ser libre voluntaria por el mayor y el menor de edad.</p>

                    <p class="legalesAbanderados">No podrán participar: Empleados, trabajadores, colaboradores ni familiares hasta el cuarto grado de: <strong>The Coca-Cola Company, The Coca-Cola Export Corporation, Sucursal en México (“Coca-Cola”), embotelladores del Sistema Coca-Cola, Nueva Walmart de México, S. de R.L. de C.V., Grupo Pauta Creativa, S.A. de C.V., incluyendo sus respectivas compañías, subsidiarias, afiliadas, agentes y proveedores de premios y agencias involucradas</strong> en el desarrollo o ejecución de esta promoción o de cualquiera de sus elementos.</p>


                    <p class="legalesAbanderados">El participante para poder reclamar cualquier premio deberá de <strong>presentar en original o fotografía tomada del original del ticket registrado</strong> participante que le dio en su caso el derecho a participar y en su caso reclamar cualquier Premio.</p>

                    <p class="legalesAbanderados">Con el ticket o folio de compra (puede ser también fotografía o escáner) que cumpla con la condición de compra, el participante debe visitar https://www.superama.com.mx/trivia-abanderados y seguir las instrucciones para completar, que incluye el registro y creación de un usuario y asignación de contraseña y enviar la forma de registro que incluye proveer: Ticket o Folio de Compra, Nombre, Apellido, Dirección de e-mail válida, Fecha de nacimiento, Teléfono de Celular y aceptar el Aviso de Privacidad tanto del mayor de edad, como del menor con el que se realizará la participación. Posterior al registro, deberá seguir las instrucciones para entrar a una <strong>trivia de 10 preguntas relacionadas con el tema de fútbol y de la patrocinadora y sus productos</strong> (fuente de referencia irrefutable Wikipedia y/o sitio web de la patrocinadora), que deberá contestar correctamente para poder tener una participación válida. <strong>Al registrar el ticket de compra, la fecha de éste debe estar dentro de 30 días vigentes para poder participar y dentro del periodo de la promoción.</strong></p>

                    <p class="legalesAbanderados">Cada participante podrá participar tantas veces como tickets o folios de compra tenga que cumplan con los requisitos antes mencionados. <strong>Cualquier intento del participante de participar más de una vez bajo un número de folio de compra será inválido</strong> y se tomará en cuenta únicamente la primera participación bajo el mismo. Cualquier uso de entradas robóticas, repetitivas, automáticas, programadas o similares, compras simuladas fuera de inventario de establecimiento, devoluciones, re impresiones directas de caja del establecimiento, o agentes caza-premios (persona que simula cumplir con la condición de compra y que mediante sistema automatizados simula o vulnera el sistema operativo pretendiendo obtener una ventaja respecto del resto de participantes), invalidará las entradas/registros de dicho participante. En el evento de cualquier disputa sobre registros/entradas en-línea, el “usuario autorizado” de la cuenta de e-mail usada para registro será considerado como el participante. El “usuario autorizado” es la persona física asignada a una cuenta de e-mail por un proveedor de acceso a internet, proveedor de servicios on-line o cualquier otra organización responsable de asignar una dirección de e-mail para el dominio asociado con la dirección ingresada. Se podrá requerir una prueba de ser dueño de la cuenta a los posibles ganadores.</p>

                    <p class="legalesAbanderados">Para ser acreedores al “Premio”, se tomarán en cuenta todos los registros realizados dentro del sitio. Se realizará un listado general descendente bajo los siguientes criterios:</p>

                    <p class="legalesAbanderados bulletCoca"><span>•</span><strong>Se eliminarán como posibles ganadores aquellos registros incompletos</strong> (Faltantes: Ticket o Folio de Compra con todos sus dígitos, Nombre, Apellido, Dirección de e-mail válida, Fecha de nacimiento, Teléfono de Celular y aceptar el Aviso de Privacidad).</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span><strong>Documentos fidedignos de identificación</strong> públicos del mayor y menor de edad participantes, que serán para el mayor de edad, pasaporte, credencial para votar, cédula profesional o cartilla y para el menor de edad acta de nacimiento y pasaporte vigente que permita dentro de su vigencia la realización del viaje ofrecido dentro del Premio.</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span><strong>Documentos de custodia</strong> a favor de la persona asignada por el Patrocinador, que le acompañará para poder realizar el viaje del menor de edad.</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Se colocarán en los primeros lugares aquellos participantes que tengan la <strong>totalidad de preguntas contestadas de forma correcta</strong> (10 preguntas), en caso de que no existan participantes con la totalidad de respuestas correctas se reducirá a 9 y sucesivamente hasta identificar el número mayor de respuestas correctas contestadas.</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>El siguiente criterio de colocación para el primer lugar será a favor de <strong>quien haya realizado el menor tiempo en responder la mayor cantidad de respuestas correctas.</strong></p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span><strong>En caso de empate</strong> por el número de respuestas y el tiempo en haberlas contestado correctamente,  será a favor del participante que haya realizado su primera participación más cercana al inicio de vigencia de la promoción.</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Si el participante pre-asignado como posible ganador <strong>no responde dentro del plazo de 48 horas al primer contacto</strong> que se le haga en un plazo de 3 días o no presente la documentación e información en la forma establecida, se descalifica y se asigna el derecho de posible ganador al siguiente lugar del listado general.</p>

                    <p class="legalesAbanderados">Los ganadores serán notificados por e-mail el <strong>viernes 27 de abril de 2018</strong> (la dirección de correo electrónico ingresada en registro) y se les contactará adicionalmente en el teléfono de referencia que ingresaron durante el registro.</p>

                    <p class="legalesAbanderados">Los ganadores, deberán presentar:</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Identificación y documento oficial (Pasaporte y acta de nacimiento) que acredite que cuentan con <strong>más de 12 años de edad al momento de participación y tendrán menos de 17 años al 31 de junio de 2018</strong></p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span><strong>Identificación oficial y consentimiento de su Padre o guardián legal</strong> que le permita realizar el viaje al destino indicado</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span><strong>Pasaporte con validez mínima al 31 de diciembre de 2018</strong></p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Declaración de Validez, Responsabilidad y derechos de Publicación (“Declaración”) firmada dentro de los 7 días naturales a partir de envío de aviso de ser ganador potencial para ser acreedor al premio, así como cubrir cualquier otro requerimiento determinado por el administrador. </p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Cumplir completamente con los requisitos establecidos para otorgar la autorización temporal de custodia del menor para realizar el viaje incluido en el Premio.</p>

                    <p class="legalesAbanderados">Si el ganador no puede ser contactado, falla en firmar y entregar la Declaración o proveer alguna otra información solicitada (dónde sea aplicable) dentro del plazo de <strong>72 horas</strong>; o si el premio es rechazado, el ganador potencial perderá el premio al que era potencialmente acreedor. En el evento de que el ganador potencial del o los Premios Mayores sea descalificado por cualquier razón enunciada, el Administrador designará un ganador potencial alternativo según su posición subsecuente en el listado de ganadores potenciales. </p>

                    <p class="legalesAbanderados"><strong>En caso de negativa u omisión de alguno de los padres para realizar el viaje el menor de edad, se perderá el derecho.</strong></p>

                    <p class="legalesAbanderados">Serán <strong>6 ganadores</strong>, el premio para cada uno consiste en:</p>
                    <p class="legalesAbanderados">Un viaje <strong>individual</strong> redondo de 4 días y 3 noches a Rusia con valor aproximado cada uno de $4,500 USD para ser Abanderados dentro de la ceremonia de inicio del partido México-Alemania a realizarse durante la primera etapa del FIFA World Cup Russia 2018 el día 17 de junio de 2018 en Moscú, Rusia. El viaje incluye (mas no es limitativo):</p>

                    <p class="legalesAbanderados bulletCoca"><span>•</span>Vuelo  redondo en clase turista desde la Ciudad de México (el traslado a la ciudad de México no corre por parte del Patrocinador ni del Administrador) </p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Hospedaje de 4 días y 3 noches (determinado por el Patrocinador a discreción) en Hotel de 4 estrellas en un cuarto doble (determinado por el Patrocinador a discreción)</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Acreditación de estadio y participación en ceremonia de inicio de partido México-Alemania</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Seguro de viaje, seguridad las 24 hrs, alimentos y bebidas</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Transportación durante el viaje, comidas diarias (3) y una experiencia cultural customizada (determinado por el Patrocinador a discreción)</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Supervisión compartida con los otros ganadores por parte de 2 Chaperones mayores de edad asignados por el Patrocinador</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Pack de bienvenida y convivencia con Abanderados de otros países.</p>

                    <p class="legalesAbanderados">La administradora de la promoción no prestará directamente el servicio de los premios ofrecidos, por lo que ha contratado a una empresa profesional experta en ese servicio y será ante esa prestadora con quién se podrá hacer efectiva cualquier garantía o reclamación una vez que le sean entregados los documentos necesarios para hacer efectivo el premio y quien auxiliará en el proceso de tramitación de la Visa que resulte necesaria. La empresa prestadora de los servicios que integran el Premio será Viajes Mundomex, S.A. de C.V. (en lo sucesivo “ Viajes Mundomex”), una sociedad anónima de capital variable constituida de conformidad con las leyes mexicanas, con domicilio principal ubicado en Cicerón 737 Mezzanine No. 1, Colonia Chapultepec Morales, 11570, Ciudad de México</p>

                    <p class="legalesAbanderados">Los ganadores de alguno de los  Premios <strong>deberán viajar en las fechas determinadas por el Patrocinador de la promoción  a discreción, o declarar el perder el premio, sin que exista compensación o remuneración alguna</strong>. Los ganadores y los acompañantes que ejercerán la custodia durante el viajen deberán viajar en el mismo itinerario, en viaje redondo. El Patrocinador definirá aerolínea e itinerario a discreción. De declarar el premio perdido, de haber retrasos o cancelaciones de cualquier tipo, no habrá reembolsos. Los viajes están sujetos a los Términos y Condiciones aquí descritos. La administradora, el Patrocinador y el Organizador no son responsables de que cualquier evento sea retrasado, pospuesto o cancelado y no habrá reembolsos. Cualquier entrada a eventos específicos (por ejemplo: partido de primera ronda de la Copa Mundial de Fútbol Rusia 2018™, de México) estará sujeto a las políticas y procedimientos de los emisores. Todo gasto de viaje u otros gastos no expresados en las descripciones anteriores son total responsabilidad del ganador. </p>

                    <p class="legalesAbanderados">Las personas facultadas para ejercer la custodia legal durante el viaje de los ganadores deberán completar por su costa y responsabilidad los requisitos y formatos válidos determinados por la ley (determinados por su estado/país de residencia). <strong>El ganador es el único responsable de contar con pasaporte válido de su hija (o) o tutelada (o) para viajes internacionales</strong> a los destinos descritos pero podrá ser apoyado para el trámite posterior de visado a Rusia. Algunas condiciones, restricciones y limitaciones pueden ser aplicables. Boletos o comprobantes perdidos, mutilados o robados no serán reemplazados. De contar con la aceptación del ganador éstos se atendrán a cualquier término, condición o limitación estipulada en boletos, entradas, etc. durante el viaje. El Patrocinador no será responsable si el ganador no utiliza los recursos/boletos/entradas provistas y/o en las fechas/horarios previstos. El ganador no recibirá ningún intercambio y/o diferencia monetaria por el premio descrito ni por su valor real contra el estimado.</p>

                    <p class="legalesAbanderados"><strong>Otras consideraciones:</strong></p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>Todos los premios deben de ser entregados y recibidos en la República Mexicana</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>En caso de que alguno de los países a visitar durante el viaje exija alguna condición especial, se deberá contar con ésta misma, y la obtención y costo de dichos documentos correrán por cuenta y costo de los participantes.</p>
                    <p class="legalesAbanderados bulletCoca"><span>•</span>El ganador de cada experiencia, deberán respetar todos y cada uno de los lineamientos establecidos por la administradora de la Promoción y cualquiera otra institución, agencia, empresa, etc., relacionada directamente con la realización de las experiencias.  El incumplimiento a cualquier lineamiento tendrá como consecuencia la cancelación de la experiencia y el regreso a su lugar de origen de manera inmediata.</p>

                    <p class="legalesAbanderados"><strong>THE COCA-COLA EXPORT CORPORATION, SUCURSAL EN MEXICO</strong> y <strong>NUEVA WALMART DE MÉXICO, S. de R.L. de C.V.</strong> se reservan el derecho de realizar las modificaciones que estime oportunas en esta Política de privacidad. En el caso de que <strong>THE COCA-COLA EXPORT CORPORATION, SUCURSAL EN MEXICO o NUEVA WALMART DE MÉXICO, S. de R.L. de C.V.</strong> efectúen un cambio significativo en la presente Política de privacidad, deberán primeramente notificar a la otra parte para aprobación y posteriormente éste se hará público en el presente documento. Le recomendamos visitar con frecuencia esta página, ya que el uso del Sitio tras cualquier modificación que se lleve a cabo en la presente Política de privacidad constituye la aceptación de tales cambios.</p>

                    <p class="legalesAbanderados">Si tiene alguna duda acerca de la presente Política de privacidad o de las prácticas de este Sitio, puede ponerse en contacto con nosotros en la línea de atención al Consumidor: <strong>HOLA Coca-Cola al teléfono 01-800-704-44-00.</strong></p>


                </div>
            </div>
        </div>
            <div class="clearContent"></div>
            <div id="footerAbanderados" class="clearBoth">
                <div id="footerAbanderados" class="maxWidthAvailable clearBoth">
                    <h2><strong>Estamos cerca de ti,</strong> somos el <strong>Centro de Atención al Consumidor de Coca Cola</strong>, con gusto te atenderemos en:</h2>
                    <!-- <div id="contactAbanderados">
                        <div class="clearAbanderados contactItem">
                        </div>
                        <div class="contactItem">
                            <h4>CORREO</h4>
                            <h5>consumidor@coca-cola.com</h5>
                        </div>
                        <div class="contactItem">
                            <h4>TELÉFONO</h4>
                            <h5>01 800 704 4400</h5>
                        </div>
                        <div class="contactItem">
                            <h4>DIRECCIÓN</h4>
                            <h5>Rubén Dario 115, Bosque de Chapultepec</h5>
                        </div>
                        <div class="contactItem">
                            <h4>TWITTER</h4>
                            <h5>&#64;HolaCocaCola</h5>
                        </div>
                    </div> -->
                    <div class="footerLegalCoca"><img src="~/Views/Micrositio/trivia-abanderados/img/footer-coca.jpg" width="100%"></div>
                </div>
            </div>
    </div>

<script src="~/Views/Micrositio/trivia-abanderados/menu-dinamico/js/menuFunctions.js" charset="utf-8">
</script>
