@{
ViewBag.Title = "Mundial 2018 - Superama y Coca Cola te llevan al Mundial";
ViewBag.description = "Participa y conviértete en abanderado del Mundial, Superama y Coca Cola te llevan a Rusia. Consulta términos y condiciones. ¡Regístrate ya!";
ViewBag.keywords ="";
ViewBag.index = "index,follow";}
<link href="~/Views/Micrositio/trivia-abanderados/menu-dinamico/css/menu-dinamico.css" rel="stylesheet">
<link href="~/Views/Micrositio/trivia-abanderados/css/style.css" rel="stylesheet"/>
<script src="~/Views/Micrositio/trivia-abanderados/menu-dinamico/js/consMenu.js" charset="utf-8"></script>
<script>
    consMenu("preguntas-frecuentes");
</script>
    <div id="headerAbanderados">
        <div class="spaceRed"></div>
        <div class="maxWidthAvailable">
            <div id="logoAbanderados">
                <img src="~/Views/Micrositio/trivia-abanderados/img/logoCocaBalon.png" alt="Logo Coca Cola" width="150" height="150">
            </div>
        </div>
    </div>
    <div id="bodyAbanderados" class="mecanica preguntasFrecuentes">
        <div class="maxWidthAvailable content clearBoth">
            <div class="minWidthAvailable clearBoth container content containerAir boxShadowCoca">
                <h1 class="titleAbanderados">PREGUNTAS FRECUENTES</h1>
                <div class="col50">
                        <div class="faq">
                            <h2 id="p1" class="question">1. ¿Qué es ser un abanderado FIFA?</h2>
                            <p class="p1 answer">Significa cargar la bandera de México al inicio de alguno de los partidos en los que participará la Selección Mexicana durante la próxima Copa Mundial FIFA Rusia 2018.</p>
                        </div>

                        <div class="faq">
                            <h2 id="p2" class="question">2. ¿Cuál es la vigencia de la promoción?</h2>
                            <p class="p2 answer">15 de marzo al 22 abril 2018. </p>
                        </div>

                        <div class="faq">
                        <h2 id="p3" class="question">3. ¿Qué cadenas son las participantes?</h2>
                        <p class="p3 answer">Participan los tickets de compra de Superama, Walmart Supercenter, Bodega Aurrerá, Mi Bodega Aurrerá y Bodega Aurrerá Express. </p>
                    </div>

                    <div class="faq">
                        <h2 id="p4" class="question">4. ¿Cuál es el mínimo de compra para poder participar en la promoción?</h2>
                        <p class="p4 answer">$100 pesos por ticket en las marcas participantes. </p>
                    </div>

                    <div class="faq">
                        <h2 id="p5" class="question">5. ¿Qué productos son los que participan en la promoción?</h2>
                        <p class="p5 answer">Las marcas Coca-Cola, Coca-Cola Sin Azúcar, Coca-Cola Light, Powerade y/o Powerade Zero en cualquiera de sus presentaciones.</p>
                    </div>

                    <div class="faq">
                        <h2 id="p6" class="question">6. ¿Quiénes son los que pueden participar en la promoción?</h2>
                        <p class="p6 answer">Cualquier residente legal de la República Mexicana que se inscriba y participe dentro de la vigencia y que tenga algún vínculo, preferentemente patria potestad o tutela legal, sobre el menor de edad que el participante buscaría enviar como parte de la promoción.</p>
                    </div>

                    <div class="faq">
                        <h2 id="p7" class="question">7. ¿Quiénes podrán ser abanderados en un partido de México?</h2>
                        <p class="p7 answer">Menores de edad mayores de <strong>12 años</strong> y menores de <strong>17 años</strong> cumplidos, con fecha de nacimiento antes del 31 de junio de 2001, con pasaporte vigente y con permiso de su(s) padre(s) o tutor(es) para viajar sin ellos.</p>
                    </div>

                    <div class="faq">
                        <h2 id="p8" class="question">8. ¿Se pueden acumular tickets de compra?</h2>
                        <p class="p8 answer">Se puede participar cuantas veces se tengan tickets que cumplan con el requisito de $100 pesos. Sin embargo, no se acumulan los saldos o remanentes a este monto para acreditar otra participación en la trivia ni se puede participar más de una vez bajo un mismo ticket de compra.</p>
                    </div>

                    <div class="faq">
                        <h2 id="p9" class="question">9. ¿Cómo participo para ser un abanderado FIFA?</h2>
                        <p class="p9 answer">Los participantes deberán ingresar al sitio <a href="https://www.superama.com.mx/trivia-abanderados"><strong>www.superama.com.mx/trivia-abanderados</strong></a>, registrar al posible abanderado y a él mismo. Una vez creado su perfil, deberá ingresar al menos un folio de ticket que cumpla con el mínimo de compra y responder la trivia de 10 preguntas que le aparecerán.</p>
                    </div>

                </div>
                <div class="col50 faq">
                    <div class="faq">
                        <h2 id="p10" class="question">10. ¿Cómo gano el premio de ser un abanderado FIFA?</h2>
                        <p class="p10 answer">Los 6 participantes (y sus respectivos candidatos a abanderados) serán elegidos a partir de los siguientes criterios en este orden:<br /><br />
                            <strong>1.</strong>	Mayor número de respuestas correctas<br />
                            <strong>2.</strong>	Menor tiempo de respuesta de la trivia completa<br />
                            <strong>3.</strong>	Fecha primera de registro del folio participante
                        </p>
                    </div>

                    <div class="faq">
                        <h2 id="p11" class="question">11. ¿En qué consiste el premio?</h2>
                        <p class="p11 answer">6 viajes sencillos de 4 días, 3 noches de la CDMX a Moscú, Rusia acompañados en todo momento por 2 chaperones mayores de edad designados por Coca-Cola. Incluye vuelos, hospedajes, alimentación, transporte terrestre, amenidades, actividades cultural-recreativas programadas, cuerpo de seguridad, seguro de viaje y acreditaciones para ser abanderados FIFA durante el partido México-Alemania del día 17 de junio de 2018 en el estadio Luzhnikí de Moscú, Rusia.</p>
                    </div>

                    <div class="faq">
                        <h2 id="p12" class="question">12. ¿Qué debo de hacer para reclamar el premio?</h2>
                        <p class="p12 answer">El participante para poder reclamar cualquier premio deberá de presentar en original o fotografía tomada del original del ticket registrado participante que le dio en su caso el derecho a participar y en su caso reclamar cualquier premio. Así mismo, deberá mostrar pasaporte vigente al 31 de diciembre de 2018, carta de padre o tutor permitiendo el viaje del posible abanderado y constancia médica a entregar en un plazo no mayor a 5 días a partir de la notificación de acreditación del premio.</p>
                    </div>

                    <div class="faq">
                        <h2 id="p13" class="question">13. ¿Qué pasa si no se cumple alguno de los requisitos dentro del tiempo estipulado?</h2>
                        <p class="p13 answer">El participante perderá el premio y cualquier derecho a reclamo sobre el mismo y se asignará su premio al siguiente potencial ganador en la lista según los criterios establecidos.</p>
                    </div>

                    <div class="faq">
                        <h2 id="p14" class="question">14. ¿Se puede cambiar el premio en caso de resultar ganador por su equivalente en especie o efectivo?</h2>
                        <p class="p14 answer">No, en caso de no aceptar el premio como tal, el posible ganador renuncia a cualquier derecho sobre el mismo y será asignado su premio al siguiente participante en la lista según los criterios establecidos.</p>
                    </div>

                    <div class="faq">
                        <h2 id="p15" class="question">15. ¿En dónde se publicaran los ganadores?</h2>
                        <p class="p15 answer">Los posibles ganadores serán publicados en <a href="https://www.superama.com.mx/trivia-abanderados"><strong>www.superama.com.mx/trivia-abanderados</strong></a> en tiempo real hasta 10 días después del cierre de la promoción. Los ganadores finales se publicarán en el mismo sitio a partir del   1° de mayo de 2018.</p>
                    </div>

                    <div class="faq">
                        <h2 id="p16" class="question">16. Si el abanderado no vive en la CDMX ¿el premio incluye traslado al aeropuerto de la CDMX?</h2>
                        <p class="p16 answer">No, el traslado a la CDMX corre por cuenta del participante y/o los abanderados asignados. En caso de no poder trasladarse a la CDMX, deberá notificar previamente y el ganador con ello renuncia a cualquier derecho sobre el premio y será asignado al siguiente participante en la lista según los criterios establecidos.</p>
                    </div>

                    <div class="faq">
                        <h2 id="p17" class="question">17. ¿A dónde puedo acudir en caso de dudas adicionales que no estén contempladas aquí?</h2>
                        <p class="p17 answer">Puedes comunicarte sin costo a la línea de ayuda HOLA Coca-Cola al 01-800-704-4400.</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="clearContent"></div>
            <div id="footerAbanderados" class="clearBoth">
                <div id="footerAbanderados" class="maxWidthAvailable clearBoth">
                    <h2><strong>Estamos cerca de ti,</strong> somos el <strong>Centro de Atención al Consumidor de Coca Cola</strong>, con gusto te atenderemos en:</h2>
                    <!-- <div id="contactAbanderados">
                        <div class="clearAbanderados contactItem">
                        </div>
                        <div class="contactItem">
                            <h4>CORREO</h4>
                            <h5>consumidor@coca-cola.com</h5>
                        </div>
                        <div class="contactItem">
                            <h4>TELÉFONO</h4>
                            <h5>01 800 704 4400</h5>
                        </div>
                        <div class="contactItem">
                            <h4>DIRECCIÓN</h4>
                            <h5>Rubén Dario 115, Bosque de Chapultepec</h5>
                        </div>
                        <div class="contactItem">
                            <h4>TWITTER</h4>
                            <h5>&#64HolaCocaCola</h5>
                        </div>
                    </div> -->
                    <div class="footerLegalCoca"><img src="~/Views/Micrositio/trivia-abanderados/img/footer-coca.jpg" width="100%"></div>
                </div>
            </div>
    </div>
<script>
    $(window).load(function() {
        var question = $('.question');
        question.on('click', function () {
            var isActive = $('#' + this.id).hasClass('active');
            if (!isActive) {
                $('.answer').hide();
                $('.question').removeClass('active');
                $('#' + this.id).addClass('active');
                $('.' + this.id).fadeIn();
            }
        });
    });

</script>
<script src="~/Views/Micrositio/trivia-abanderados/menu-dinamico/js/menuFunctions.js" charset="utf-8">
</script>
