@{
ViewBag.Title = "Abanderados Coca Cola";
ViewBag.description = "Solicitar descripción";
ViewBag.keywords ="";
ViewBag.index = "index,follow";}
<link href="~/Views/Micrositio/abanderados-coca-cola/menu-dinamico/css/menu-dinamico.css" rel="stylesheet">
<link href="~/Views/Micrositio/abanderados-coca-cola/css/style.css" rel="stylesheet"/>
<script src="~/Views/Micrositio/abanderados-coca-cola/menu-dinamico/js/consMenu.js" charset="utf-8"></script>
<script>
    consMenu("preguntas-frecuentes");
</script>
    <div id="headerAbanderados">
        <div class="spaceRed"></div>
        <div class="maxWidthAvailable">
            <div id="logoAbanderados">
                <img src="~/Views/Micrositio/abanderados-coca-cola/img/logoCocaBalon.png" alt="Logo Coca Cola" width="150" height="150">
            </div>
        </div>
    </div>
    <div id="bodyAbanderados" class="mecanica preguntasFrecuentes">
        <div class="maxWidthAvailable content clearBoth">
            <div class="minWidthAvailable clearBoth container content containerAir boxShadowCoca">
                <h1 class="titleAbanderados">PREGUNTAS FRECUENTES</h1>
                <div class="col50">
                        <div class="faq">
                            <h2 id="p1" class="question">¿Pregunta frecuente de ejemplo de una sola línea?</h2>
                            <p class="p1 answer">Nullam egestas vel nunc eget eleifend. Quisque in venenatis felis, ac volutpat tortor. Ut condimentum turpis vitae leo viverra, in sagittis elit mattis. Proin aliquam varius iaculis. Cras non felis nibh. </p>
                        </div>
                        <div class="faq">
                            <h2 id="p2" class="question">¿Pregunta frecuente de ejemplo de una sola línea?</h2>
                            <p class="p2 answer">Nullam egestas vel nunc eget eleifend. Quisque in venenatis felis, ac volutpat tortor. Ut condimentum turpis vitae leo viverra, in sagittis elit mattis. Proin aliquam varius iaculis. Cras non felis nibh. </p>
                        </div>
                </div>
                <div class="col50 faq">
                    <div class="faq">
                        <h2 id="p3" class="question">¿Pregunta frecuente de ejemplo de más de una sola línea Pregunta frecuente de ejemplo de más de ?</h2>
                        <p class="p3 answer">Nullam egestas vel nunc eget eleifend. Quisque in venenatis felis, ac volutpat tortor. Ut condimentum turpis vitae leo viverra, in sagittis elit mattis. Proin aliquam varius iaculis. Cras non felis nibh. </p>
                    </div>

                    <div class="faq">
                        <h2 id="p4" class="question">¿Pregunta frecuente de ejemplo de más de una sola línea Pregunta frecuente de ejemplo de más de ?</h2>
                        <p class="p4 answer">Nullam egestas vel nunc eget eleifend. Quisque in venenatis felis, ac volutpat tortor. Ut condimentum turpis vitae leo viverra, in sagittis elit mattis. Proin aliquam varius iaculis. Cras non felis nibh. </p>
                    </div>
                </div>
            </div>
        </div>
            <div class="clearContent"></div>
            <div id="footerAbanderados" class="clearBoth">
                <div id="footerAbanderados" class="maxWidthAvailable clearBoth">
                    <h2><strong>Estamos cerca de ti,</strong> somos el <strong>Centro de Atención al Consumidor de Coca Cola</strong>, con gusto te atenderemos en:</h2>                
                    <div id="contactAbanderados">
                        <div class="clearAbanderados contactItem">
                        </div>
                        <div class="contactItem">
                            <h4>CORREO</h4>
                            <h5>consumidor@coca-cola.com</h5>
                        </div>
                        <div class="contactItem">
                            <h4>TELÉFONO</h4>
                            <h5>01 800 704 4400</h5>
                        </div>
                        <div class="contactItem">
                            <h4>DIRECCIÓN</h4>
                            <h5>Rubén Dario 115, Bosque de Chapultepec</h5>
                        </div>
                        <div class="contactItem">
                            <h4>TWITTER</h4>
                            <h5>&#64HolaCocaCola</h5>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<script>
    $(window).load(function() {
        var question = $('.question');
        question.on('click', function () {
            var isActive = $('#' + this.id).hasClass('active');
            if (!isActive) {
                $('.answer').hide();
                $('.question').removeClass('active');
                $('#' + this.id).addClass('active');
                $('.' + this.id).fadeIn();
            }
        });
    });

</script>
<script src="~/Views/Micrositio/abanderados-coca-cola/menu-dinamico/js/menuFunctions.js" charset="utf-8">
</script>
